@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./Assets/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    max-width: 100%;
    height: 900px;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 0.86rem;
    letter-spacing: 0.3px;
    line-height: 1.5;
    font-weight: 300;
    color: #595959;
    font-weight: 400;
}

.card{
    width: 33vw;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}
h3{
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.2;
    
}

.card-header{
    width: 100%;
    background-color: #2355f2;
    background-image: url('./Assets/Pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 12% 18%;
    color: #fff;
    font-size: 1.5vw;
    border-radius: 10px 10px 0 0;
}

.card-body{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 25px;
}
form{
    gap: 10px;
    margin: 20px 0 15px 0;
}
input{
    width: 100%;
    height: 30px;
    padding: 20px;
    border: 1px solid #e6e8f0;
    color: black;
    border-radius: 5px;
}
::placeholder{
    color: #a6a6a6;
}
.btn{
    width: 150px;
    border: none;
    background-color: #2355f2;
    color: #fff;
    border-radius: 5px;
    padding: 13px 20px;
}
.card-body p:nth-of-type(2){
    color: #a6a6a6;
    text-align: start;
}
.testimonial{
    margin: 40px 0 20px 0;
    gap: 10px;
    text-align: start;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    .card{
        width: 55vw;
    }
    p{
        font-size: 0.82rem;
    }
    
}

@media screen and (max-width: 428px) {
    .card{
        width: 100%;
        height: 100%;
    }
    .card-header, .card-body{
        border-radius: 0;
    }
    h2{
        font-size: 1.5rem;
        padding: 5px;
    }
    p{
        font-size: 0.83rem;
    }
}